$def with (page)

<html>
<head>
    $if page.has_key('title'):
        <title>$page.title</title>
    $else:
        <title>My Wiki</title>
    <style>
    </style>
    <link rel="stylesheet" type="text/css" href="/static/demo.css" />
</head>
<body>

<ul class="navigation">
    <li class="float_left"><a href="/">Home</a></li>
    <li class="float_left"><a href="/new">New Page</a></li>
    <li class="float_left"><a href="/pages">All Pages</a></li>
</ul>
<div name="split_line" style="width:100%;height:20px"></div>

$:page

</body>
</html>
