$def with (page)

$var title: $page.title

<h1>$page.title</h1>

<script type="text/javascript" src="/static/Markdown.Converter.js"></script>
<script type="text/javascript">
	window.onload = function(){
		var text = document.getElementById("source").innerText;
		var converter = new Markdown.Converter();
		var html = converter.makeHtml(text);
		var insert_point = document.getElementById("page_content");
		insert_point.innerHTML = html;
	};
</script>

<div id = "page_content">
<textarea id = "source" style="display:none;">$:page.content</textarea>
</div>

<a href="/edit/$page.id">Edit</a>
